<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>data-pendaftaran</title>
        <link rel="stylesheet" href="../../assets/styles/styles.css" />
        <link rel="stylesheet" href="../../assets/styles/popup.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <!-- Menu mobile -->
        <div class="menu-mobile">
            <button class="menu-close">X</button>
            <a href="index.html">
                <i class="fa-solid fa-house"></i>
                <span>Dashboard</span>
            </a>

            <a href="data-siswa.html">
                <i class="fa-solid fa-user-group"></i>
                <span>Data Siswa</span>
            </a>

            <a href="data-pendaftar.html">
                <i class="fas fa-chart-bar"></i>
                <span>Data Pendaftar</span>
            </a>

            <a href="data-pendaftar.html">
                <i class="fas fa-chart-bar"></i>
                <span>Data Pendaftar</span>
            </a>

            <a href="kelola-pengguna.html">
                <i class="fa-solid fa-users"></i>
                <span>Kelola Pengguna</span>
            </a>

            <a href="../../logout.php">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </a>
        </div>
        <!-- End menu MObile -->

        <!-- sidebar -->
        <div class="sidebar">
            <ul class="menu">
                <li>
                    <a href="#">
                        <i class="fa-solid fa-bars"></i>
                        <span>Menu</span>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <i class="fa-solid fa-house"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="data-siswa.html">
                        <i class="fa-solid fa-user-group"></i>
                        <span>Data Siswa</span>
                    </a>
                </li>
                <li>
                    <a href="data-pendaftar.html">
                        <i class="fas fa-chart-bar"></i>
                        <span>Data Pendaftar</span>
                    </a>
                </li>
                <li>
                    <a href="pengelola-pengumunan.html">
                        <i
                            class="material-symbols-outlined"
                            style="font-size: 25px"
                            >campaign</i
                        >
                        <span>Pengumunan</span>
                    </a>
                </li>
                <li>
                    <a href="kelola-pengguna.html">
                        <i class="fa-solid fa-users"></i>
                        <span>Kelola Pengguna</span>
                    </a>
                </li>
                <li class="logout">
                    <a href="../../logout.php">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar -->
        <div class="main--content">
            <div class="header--wrapper">
                <div class="menu-btn">
                    <span class="material-symbols-outlined"> menu </span>
                </div>
                <div class="header--title">
                    <img src="../../assets/images/logo.png" alt="" />
                    <div class="teks">
                        <span>SMA AL FASNAH</span>
                        <h2 id="judul-header">Pendaftaran</h2>
                    </div>
                </div>
                <!-- search -->
            </div>
            <!-- end sidebar -->
            <!-- list user -->
            <div class="list--wrapper formulir">
                <h3 class="main--title">Formulir Pendaftaran</h3>
                <div class="list--container">
                    <form method="post" action="#">
                        <div class="kolom-isi">
                            <label for="nama-siswa"> Nama Siswa </label>
                            <input
                                type="text"
                                id="nama-siswa"
                                name="nama-siswa"
                                maxlength="50"
                                required
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="tanggal-lahir"> Tanggal Lahir </label>
                            <input
                                type="date"
                                id="tanggal-lahir"
                                name="tanggal-lahir"
                                required
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="no-nis"> No NISN </label>
                            <input
                                type="number"
                                id="no-nis"
                                name="no-nis"
                                maxlength="17"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="jenis-kelamin"> Jenis Kelamin </label>
                            <!-- <input type="text" id="jenis-kelamin" name="jenis-kelamin"> -->
                            <select
                                name="jenis-kelamin"
                                id="jenis-kelamin"
                                required
                            >
                                <option value="" selected>Pilih</option>
                                <option value="Laki-laki">Laki-laki</option>
                                <option value="Perempuan">Perempuan</option>
                            </select>
                        </div>
                        <div class="kolom-isi">
                            <label for="agama"> Agama </label>
                            <!-- <input type="text" id="agama" name="agama"> -->
                            <select name="agama" id="agama" required>
                                <option value="" selected>Pilih</option>
                                <option value="Islam">Islam</option>
                                <option value="Katolik">Katolik</option>
                                <option value="Kristen Protestan">
                                    Kristen Protestan
                                </option>
                                <option value="Hindu">Hindu</option>
                                <option value="Budha">Budha</option>
                                <option value="Konghucu">Konghucu</option>
                            </select>
                        </div>
                        <div class="kolom-isi">
                            <label for="asal-sekolah"> Asal Sekolah </label>
                            <input
                                type="text"
                                id="asal-sekolah"
                                name="asal-sekolah"
                                maxlength="50"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="kewarganegaraan">
                                Kewarganegaraan
                            </label>
                            <!-- <input type="text" id="agama" name="agama"> -->
                            <select
                                name="kewarganegaraan"
                                id="kewarganegaraan"
                                required
                            >
                                <option value="" selected>Pilih</option>
                                <option value="WNI">WNI</option>
                                <option value="WNA">WNA</option>
                            </select>
                        </div>
                        <div class="kolom-isi">
                            <label for="golongan-darah"> Golongan Darah </label>
                            <input
                                type="text"
                                id="golongan-darah"
                                name="golongan-darah"
                                maxlength="5"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="alamat-tinggal"> Alamat </label>
                            <input
                                type="text"
                                id="alamat-tinggal"
                                name="alamat-tinggal"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="provinsi"> Provinsi </label>
                            <input
                                type="text"
                                id="provinsi"
                                name="provinsi"
                                maxlength="50"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="kota-kabupaten"> Kota/Kabupaten </label>
                            <input
                                type="text"
                                id="kota-kabupaten"
                                name="kota-kabupaten"
                                maxlength="50"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="kecamatan"> Kecamatan </label>
                            <input
                                type="text"
                                id="kecamatan"
                                name="kecamatan"
                                maxlength="50"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="kelurahan"> Kelurahan </label>
                            <input
                                type="text"
                                id="kelurahan"
                                name="kelurahan"
                                maxlength="50"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="kode-post"> Kode Pos </label>
                            <input
                                type="number"
                                id="kode-post"
                                name="kode-post"
                                maxlength="5"
                            />
                        </div>

                        <div class="kolom-isi">
                            <label for="no-telepon"> Nomor Telepon </label>
                            <input
                                type="text"
                                id="no-telepon"
                                name="no-telepon"
                                maxlength="15"
                            />
                        </div>

                        <div class="kolom-isi">
                            <label for="jurusan"> Pilih Jurusan </label>
                            <!-- <input type="text" id="agama" name="agama"> -->
                            <select name="jurusan" id="jurusan" required>
                                <option value="" selected>Pilih</option>
                                <option value="MIA (Matematika Ilmu Alam)">
                                    MIA (Matematika Ilmu Alam)
                                </option>
                                <option value="IIS (Ilmu Ilmu Sosial)">
                                    IIS (Ilmu Ilmu Sosial)
                                </option>
                                <option value="IPA (Ilmu Pengetahuan Alam)">
                                    IPA (Ilmu Pengetahuan Alam)
                                </option>
                                <option value="IPS (Ilmu Pengetahuan Sosial)">
                                    IPS (Ilmu Pengetahuan Sosial)
                                </option>
                            </select>
                        </div>

                        <div class="kolom-isi">
                            <label for="gelombang"> Pilih Gelombang </label>
                            <!-- <input type="text" id="agama" name="agama"> -->
                            <select name="gelombang" id="gelombang" required>
                                <option value="" selected>Pilih</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>

                        <div class="tombol-form">
                            <button type="reset" name="reset" id="reset">
                                Batal
                            </button>
                            <button
                                type="submit"
                                name="simpan"
                                id="simpan"
                                onclick="kirimForm('daftar_calon', event, nisCalon, this);"
                            >
                                Simpan
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end list user -->
        <!-- Popup Notifikasi -->
        <div class="popup">
            <div class="overlay">
                <div class="popup-content">
                    <h2 class="popup-title">This is popup title</h2>
                    <p class="popup-msg">
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Veniam blanditiis magnam aut harum et aperiam ea
                        eum nulla? Sed, odit. Voluptatem sed debitis ullam
                        aspernatur aliquam tempora ab magnam illum.
                    </p>
                    <div class="controls">
                        <button class="submit-btn">Submit</button>
                        <button class="close-btn">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Popup Notifikasi -->
        <script src="../../assets/scripts/popup.js"></script>
        <script src="../../assets/scripts/cek-sesi.js"></script>
        <script src="../../assets/scripts/admin.js"></script>
        <script>
            let judulheader = document.querySelector("#judul-header");
            // Cek url
            const getUrlMethod = new URLSearchParams(window.location.search);
            let nisCalon = getUrlMethod.get("nis");

            nisCalon
                ? (judulheader.innerText = "Data Siswa")
                : (judulheader.innerText = "Pendaftaran");

            // // tombol submit
            // document.getElementById("simpan").addEventListener("click", () => {
            //     kirimForm("daftar_calon", event, nisCalon, this);
            // });

            // Proses data calon
            async function prosesDataCalon() {
                try {
                    let formulir = document.querySelectorAll(
                        "form input, form select"
                    );
                    const biodata = await reqCalon(nisCalon);

                    for (let i = 0; i < formulir.length; i++) {
                        formulir[i].value = biodata[i];
                    }
                } catch (kesalahan) {
                    if (kesalahan.code !== 404) {
                        showPopup("Kesalahan", "Terjadi kesalahan", "", "Oke");
                        console.log(kesalahan.message);
                    }
                }
            }

            window.onload = function () {
                nisCalon ? prosesDataCalon() : "";
            };

            cekSesi();
        </script>
    </body>
</html>
