<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>edit calon</title>
        <link rel="stylesheet" href="../../assets/styles/styles.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <!-- CSS Popup -->
        <link rel="stylesheet" href="../../assets/styles/popup.css" />
    </head>
    <body>
        <!-- sidebar -->
        <div class="sidebar">
            <ul class="menu">
                <li>
                    <a href="#">
                        <i class="fa-solid fa-bars"></i>
                        <span>Menu</span>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <i class="fa-solid fa-house"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="data-siswa.html">
                        <i class="fa-solid fa-user-group"></i>
                        <span>Data Siswa</span>
                    </a>
                </li>
                <li>
                    <a href="data-pendaftar.html">
                        <i class="fas fa-chart-bar"></i>
                        <span>Data Pendaftar</span>
                    </a>
                </li>
                <li>
                    <a href="pengelola-pengumunan.html">
                        <i
                            class="material-symbols-outlined"
                            style="font-size: 25px"
                            >campaign</i
                        >
                        <span>Pengumunan</span>
                    </a>
                </li>
                <li>
                    <a href="kelola-pengguna.html">
                        <i class="fa-solid fa-users"></i>
                        <span>Kelola Pengguna</span>
                    </a>
                </li>
                <li class="logout">
                    <a href="../../logout.php">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar -->
        <div class="main--content">
            <div class="header--wrapper">
                <div class="header--title">
                    <img src="../../assets/images/logo.png" alt="" />
                    <div class="teks">
                        <span>SMA AL FASNAH</span>
                        <h2>Edit Calon</h2>
                    </div>
                </div>
                <div class="user--info">
                    <div class="searh--box">
                        <i class="fa-solid fa-search"></i>
                        <input type="text" placeholder="Search" />
                    </div>
                    <span class="material-symbols-outlined user-profile">
                        account_circle
                    </span>
                </div>
            </div>
            <!-- end sidebar -->
            <!-- list user -->
            <div class="list--wrapper formulir">
                <h3 class="main--title">Edit Data Calon</h3>
                <div class="list--container">
                    <form action="">
                        <div class="kolom-isi">
                            <label for="nama-siswa"> Nama Siswa </label>
                            <input
                                type="text"
                                id="nama-siswa"
                                name="nama-siswa"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="tanggal-lahir"> Tanggal Lahir </label>
                            <input
                                type="date"
                                id="tanggal-lahir"
                                name="tanggal-lahir"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="no-nis"> No NISN </label>
                            <input type="number" id="no-nis" name="no-nis" />
                        </div>
                        <div class="kolom-isi">
                            <label for="jenis-kelamin"> Jenis Kelamin </label>
                            <!-- <input type="text" id="jenis-kelamin" name="jenis-kelamin"> -->
                            <select name="jenis-kelamin" id="jenis-kelamin">
                                <option value="" selected></option>
                                <option value="Laki-Laki">Laki-Laki</option>
                                <option value="Perempuan">Perempuan</option>
                            </select>
                        </div>
                        <div class="kolom-isi">
                            <label for="agama"> Agama </label>
                            <!-- <input type="text" id="agama" name="agama"> -->
                            <select name="agama" id="agama">
                                <option value="" selected></option>
                                <option value="Islam">Islam</option>
                                <option value="Katolik">Katolik</option>
                                <option value="Kristen">Kristen</option>
                                <option value="Protestan">Protestan</option>
                                <option value="Hindu">Hindu</option>
                                <option value="Konghucu">Konghucu</option>
                            </select>
                        </div>
                        <div class="kolom-isi">
                            <label for="asal-sekoah"> Asal Sekolah </label>
                            <input
                                type="text"
                                id="asal-sekoah"
                                name="asal-sekoah"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="golongan-darah"> Golongan Darah </label>
                            <input
                                type="text"
                                id="golongan-darah"
                                name="golongan-darah"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="alamat-tinggal"> Alamat </label>
                            <input
                                type="text"
                                id="alamat-tinggal"
                                name="alamat-tinggal"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="provinsi"> Provinsi </label>
                            <input type="text" id="provinsi" name="provinsi" />
                        </div>
                        <div class="kolom-isi">
                            <label for="kota-kabupaten"> Kota/Kabupaten </label>
                            <input
                                type="text"
                                id="kota-kabupaten"
                                name="kota-kabupaten"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="kecamatan"> Kecamatan </label>
                            <input
                                type="text"
                                id="kecamatan"
                                name="kecamatan"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="kelurahan"> Kelurahan </label>
                            <input
                                type="text"
                                id="kelurahan"
                                name="kelurahan"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="kode-post"> Kode Post </label>
                            <input
                                type="number"
                                id="kode-post"
                                name="kode-post"
                            />
                        </div>
                        <h3 class="main--title">Data Orang Tua</h3>
                        <div class="kolom-isi">
                            <label for="nama-orang-tua"> Nama Orang Tua </label>
                            <input
                                type="text"
                                id="nama-orang-tua"
                                name="nama-orang-tua"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="nomor-telepon-orang-tua">
                                No Telepon
                            </label>
                            <input
                                type="number"
                                id="nomor-telepon-orang-tua"
                                name="nomor-telepon-orang-tua"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="alamat-orang-tua"> Alamat </label>
                            <input
                                type="text"
                                id="alamat-orang-tua"
                                name="alamat-orang-tua"
                            />
                        </div>
                        <h3 class="main--title">Masukan Berkasmu</h3>
                        <div class="kolom-isi">
                            <label for="dokumen"> Ijasah </label>
                            <input
                                type="file"
                                id="Ijasah pdf"
                                name="Ijasah pdf"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="foto"> Masukan Gambar Maks 1MB </label>
                            <input
                                type="file"
                                id="masukan gambar"
                                name="masukan gambar"
                                placeholder="masukan gambar"
                            />
                        </div>
                        <div class="kolom-isi">
                            <label for="dokumen-lainnya">
                                Dokumen Lainnya
                            </label>
                            <input
                                type="file"
                                id="dokumen-lainnya"
                                name="dokumen-lainnya"
                            />
                        </div>
                        <div class="tombol-form">
                            <button type="reset" name="reset" id="reset">
                                Batal
                            </button>
                            <button type="submit" name="simpan" id="simpan">
                                Simpan
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end list user -->
        <!-- Popup Notifikasi -->
        <div class="popup">
            <div class="overlay">
                <div class="popup-content">
                    <h2 class="popup-title">This is popup title</h2>
                    <p class="popup-msg">
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Veniam blanditiis magnam aut harum et aperiam ea
                        eum nulla? Sed, odit. Voluptatem sed debitis ullam
                        aspernatur aliquam tempora ab magnam illum.
                    </p>
                    <div class="controls">
                        <button class="submit-btn">Submit</button>
                        <button class="close-btn">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Popup Notifikasi -->
        <script src="../../assets/scripts/popup.js"></script>
        <script src="../../assets/scripts/cek-sesi.js"></script>
        <script>
            window.onload = function () {
                cekSesi("dashboard");
            };
        </script>
    </body>
</html>
