# Mengaktifkan URL rewriting
# RewriteEngine On

# Memblokir akses langsung ke file tertentu
<FilesMatch "\.(env|json|lock|ini|log|sh|inc|bak|sql)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Menonaktifkan tampilan direktori
Options -Indexes

