<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- boxicons -->
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
        />
        <!-- CSS -->
        <link rel="stylesheet" href="../../assets/styles/login.css" />
        <!-- POPup -->
        <link rel="stylesheet" href="../../assets/styles/popup.css" />
        <title>Document</title>
    </head>

    <body>
        <div class="container">
            <!-- Login -->

            <div class="form-box login">
                <form action="">
                    <h1>Ganti Sandi</h1>
                    <div class="input-box">
                        <input
                            type="email"
                            placeholder="Masukan Email"
                            id="reset-email"
                            maxlength="50"
                            required
                        />
                        <i class="bx bxs-user"></i>
                    </div>
                    <div class="input-box">
                        <input
                            type="password"
                            placeholder="Sandi baru"
                            id="new-password"
                            required
                        />
                        <i class="bx bxs-lock-alt"></i>
                    </div>

                    <!-- Konfirmasi Sandi -->
                    <div class="input-box">
                        <input
                            type="password"
                            placeholder="Ketik ulang sandi"
                            id="retype-password"
                            required
                        />
                        <i class="bx bxs-lock-alt"></i>
                    </div>
                    <button
                        type="submit"
                        class="btn"
                        onclick="resetPass(this.parentElement, event, this)"
                    >
                        Reset sandi
                    </button>
                </form>
            </div>
            <!-- Register -->
            <div class="form-box register">
                <form action="">
                    <h1>Login</h1>
                    <div class="input-box">
                        <input
                            type="email"
                            placeholder="Masukan Email"
                            id="login-email"
                            maxlength="50"
                            required
                        />
                        <i class="bx bxs-user"></i>
                    </div>
                    <div class="input-box">
                        <input
                            type="password"
                            placeholder="Password"
                            id="login-password"
                            required
                        />
                        <i class="bx bxs-lock-alt"></i>
                    </div>

                    <button
                        type="submit"
                        class="btn"
                        onclick="login(this.parentElement, event, this)"
                    >
                        Login
                    </button>
                </form>
            </div>

            <div class="toggle-box">
                <div class="toggle-panel toggle-left">
                    <img
                        class="login-img"
                        src="../../assets/images/logo-login.png"
                        alt=""
                    />
                    <h1>Selamat Datang</h1>
                    <p>Sudah Punya Akun?</p>
                    <button class="btn register-btn">Login</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <img
                        class="login-img"
                        src="../../assets/images/logo-login.png"
                        alt=""
                    />
                    <h1>Selamat Datang!</h1>
                    <p>Lupa Sandi?</p>
                    <button class="btn login-btn">Reset Sandi</button>
                </div>
            </div>
        </div>

        <!-- Popup Notifikasi -->
        <div class="popup">
            <div class="overlay">
                <div class="popup-content">
                    <h2 class="popup-title">This is popup title</h2>
                    <p class="popup-msg">
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Veniam blanditiis magnam aut harum et aperiam ea
                        eum nulla? Sed, odit. Voluptatem sed debitis ullam
                        aspernatur aliquam tempora ab magnam illum.
                    </p>
                    <div class="controls">
                        <button class="submit-btn">Submit</button>
                        <button class="close-btn">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Popup Notifikasi -->

        <script src="../../assets/scripts/login.js"></script>
        <script src="../../assets/scripts/cek-sesi.js"></script>
        <script src="../../assets/scripts/popup.js"></script>
        <script>
            window.onload = function () {
                cekSesi();
            };
        </script>
    </body>
</html>
