<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- boxicons -->
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
        />
        <!-- CSS -->
        <link rel="stylesheet" href="../../assets/styles/login.css" />
        <title>Document</title>
    </head>

    <body>
        <div class="container">
            <!-- Login -->
            <div class="form-box login">
                <form action="">
                    <h1>Ganti Sandi</h1>
                    <div class="input-box">
                        <input
                            type="email"
                            placeholder="Masukan Email"
                            id="login-email"
                            maxlength="50"
                            required
                        />
                        <i class="bx bxs-user"></i>
                    </div>
                    <div class="input-box">
                        <input
                            type="password"
                            placeholder="Sandi baru"
                            id="new-password"
                            required
                        />
                        <i class="bx bxs-lock-alt"></i>
                    </div>

                    <!-- Konfirmasi Sandi -->
                    <div class="input-box">
                        <input
                            type="password"
                            placeholder="Ketik ulang sandi"
                            id="retype-password"
                            required
                        />
                        <i class="bx bxs-lock-alt"></i>
                    </div>
                    <button
                        type="submit"
                        class="btn"
                        onclick="resetPass(this.parentElement, event)"
                    >
                        Reset sandi
                    </button>
                </form>
            </div>
            <!-- Register -->
            <div class="form-box register">
                <form action="">
                    <h1>Pendaftaran</h1>
                    <div class="input-box">
                        <input
                            type="text"
                            placeholder="Nama"
                            id="regis-nama"
                            maxlength="50"
                            required
                        />
                        <i class="bx bxs-user"></i>
                    </div>
                    <div class="input-box">
                        <input
                            type="email"
                            placeholder="masukan email"
                            id="regis-email"
                            maxlength="50"
                            required
                        />
                        <i class="bx bx-envelope"></i>
                    </div>
                    <div class="input-box">
                        <input
                            type="password"
                            placeholder="Password"
                            id="regis-passwd"
                            required
                        />
                        <i class="bx bxs-lock-alt"></i>
                    </div>
                    <button
                        type="submit"
                        class="btn"
                        onclick="registrasi(this.parentElement, event)"
                    >
                        Daftar
                    </button>
                </form>
            </div>

            <div class="toggle-box">
                <div class="toggle-panel toggle-left">
                    <h1>Privasi Data</h1>
                    <p>Ganti Password</p>
                    <button class="btn register-btn">Daftar Sekarang!</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Selamat Datang!</h1>
                    <p>Sudah mendaftar?</p>
                    <button class="btn login-btn">Login</button>
                </div>
            </div>
        </div>

        <script src="../../assets/scripts/login.js"></script>
        <script src="../../assets/scripts/cek-sesi.js"></script>
        <script>
            window.onload = function () {
                cekSesi();
            };
        </script>
    </body>
</html>
