<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
     <link rel="stylesheet" href="../../assets/styles/alfasanah.css">
     <!-- font owesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!-- google font -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
   <!-- header --> 
   <header class="header">
    <a href="#" class="logo">SMA AL FASANAH</span></a>
    <nav class="navbar">
        <div class="bx bx-menu" id="menu-icon"></span></div>

            <nav class="navbar">
                <a href="#" class="active">DAFTAR SEKARANG</a>
                <a href="#">INFO</a>
                <a href="#">SYARAT</a>
                <a href="#">KONTAK</a>
                <a href="#">UNDUH BROSUR</a>
                <a href="#">MASUK SISWA</a>

                <span class="active-nav"></span>
                <span class="animate" style="--i:2;"></span>
            </nav>
    </nav>
 </header>
<!-- end header -->

<!-- home section desgin -->
<section class="home show-animate" id="home">
    <div class="home-content">
        <h1>SELAMAT <span>DATANG</span><span class="animate" style="--i:2;"></span></h1>
        <div class="text-animate">
            <h3>SMA AL FASANAH</h3>
            <span class="animate" style="--i:3;"></span>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero iste repellendus illum, ad, distinctio ratione iusto porro doloremque quia dolore praesentium excepturi tenetur tempore officia commodi alias? Atque, nesciunt earum!
                <span class="animate" style="--i:4;"></span>
            </p>
            <div class="btn-box">
                <a href="../login/index.html" class="btn">DAFTAR</a>
                <a href="../login/index.html" class="btn">MASUK</a>
                <span class="animate" style="--i:5;"></span>
            </div>
        </div>
    </div>

    <div class="home-sci">
        <a href="#"><i class='bx bxl-facebook-circle' ></i></a>
        <a href="#"><i class='bx bxl-github' ></i></a>
        <a href="#"><i class='bx bxl-instagram' ></i></a>
        <span class="animate" style="--i:6;"></span>
    </div>
    
    <div class="home-imgHover"></div>
    <span class="animate home-img" style="--i:7;"></span>
 </section>

 <!-- about section design -->
</body>
</html>