<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            href="../../assets/images/logo.png.png"
            type="image/x-icon"
        />
        <title>SMA AL FASANAH</title>
        <!-- Remix Icons -->
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
            rel="stylesheet"
        />
        <!-- GoogleIcons -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <!-- google font -->
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <!-- css -->
        <link rel="stylesheet" href="../../assets/styles/header.css" />
        <link rel="stylesheet" href="../../assets/styles/main.css" />
        <link rel="stylesheet" href="../../assets/styles/error.css" />
    </head>
    <body>
        <!-- Navbar -->
        <nav id="navbar">
            <div class="container">
                <a href="" class="logo" id="logo">
                    <img
                        src="../../assets/images/logo-header.png"
                        alt="Logo"
                        width="250px"
                    />
                </a>
                <ul id="nav-menu">
                    <li>
                        <a href="../company-profile/index.html#">Beranda</a>
                    </li>
                    <li>
                        <a href="../company-profile/index.html#tentang"
                            >Tentang</a
                        >
                    </li>
                    <!-- <li>
                        <a href="../company-profile/index.html#berita"
                            >Berita</a
                        >
                    </li> -->
                    <li>
                        <a href="../company-profile/index.html#jurusan"
                            >Jurusan</a
                        >
                    </li>
                    <li>
                        <a href="../company-profile/index.html#struktur"
                            >Struktur</a
                        >
                    </li>
                    <li>
                        <a href="../login/index.html">Login</a>
                    </li>
                </ul>
                <div class="toggler" id="toggler">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </nav>
        <!-- Akhir Navbar -->
        <section class="error" id="error">
            <h1 id="code">403</h1>
            <p id="deskripsi">
                Akses Ditolak! Anda tidak memiliki izin untuk mengakses halaman
                ini.
            </p>
            <a href="../company-profile/index.html" id="kembali"
                >Kembali ke beranda</a
            >
        </section>

        <!-- ===== Footer ===== -->
        <footer>
            <div class="container-grid">
                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3965.3178753428833!2d106.652369921642!3d-6.35287847717777!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69e46778ea7cb9%3A0x159476e4dd9b7ac9!2sIslamic%20Boarding%20School%20Of%20Alfa%20Sanah!5e0!3m2!1sid!2sid!4v1736167518177!5m2!1sid!2sid"
                        width="250"
                        height="300"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                        width="100%"
                        height="300"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                    ></iframe>
                </div>

                <div class="informasi-kontak">
                    <h2>Informasi Kontak</h2>
                    <ul>
                        <li>
                            <a href="" target="_blank">
                                <i class="ri-map-pin-fill"></i>
                                <span
                                    >KP. ANAMUI RT. 03 RW. 03 DS. SURADITA
                                    CISAUK, Suradita, Kec. Cisauk, Kab.
                                    Tangerang, Banten</span
                                >
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="ri-mail-fill"></i>
                                <span
                                    >Email Address :
                                    smaalfasanah@rocketmail.com</span
                                >
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="ri-phone-fill"></i>
                                <span>0313092223</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="socials">
                    <h2>Social Media</h2>
                    <ul>
                        <li>
                            <a
                                href="https://www.instagram.com/pp_alfasanah?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                                target="_blank"
                            >
                                <i class="ri-instagram-fill"></i>
                                <span>@pp_alfasanah</span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://youtube.com/@pp_alfasanah?si=_1AHucKaUtfm7t5-"
                                target="_blank"
                            >
                                <i class="ri-youtube-fill"></i>
                                <span>alfasanah offcial</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <p class="copyright">
                    &copy; SMA AL FASANAH, All Rights Reserved.
                </p>
            </div>
        </footer>
        <!-- ===== Akhir Footer ===== -->

        <script src="../../assets/scripts/company.js"></script>
    </body>
</html>
